@charset "UTF-8";
/* ===============================
		basic
================================= */
html {
  font-size: 0.65vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  color: #444;
  margin: 0 2%;
  font-family: serif;
}

/* ===============================
		一時テスト用
================================= */
.border {
  border: 1px solid red;
}

/* ===============================
		共通
================================= */
.container {
  max-width: 1152px;
  margin: 0 auto;
}

.title {
  font-family: serif;
  font-size: 3rem;
  margin-top: 14%;
  margin-bottom: 6%;
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 80%;
  height: 1px;
  background-color: #333;
}
.title.left::after {
  left: 0;
  margin-left: 20%;
}
.title.right {
  text-align: right;
}
.title.right::after {
  right: 0;
  margin-right: 20%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.header .logo-link {
  text-decoration: none;
  color: #333;
}
.header .logo-link .site-title-group {
  text-align: center;
}
.header .logo-link .site-title-group .site-title {
  font-size: 2.5rem;
}
.header .logo-link .site-title-group .sub-title {
  font-size: 1.2rem;
}
.header .menu-btn {
  text-align: right;
}

.footer {
  background-color: #333;
  text-align: center;
  padding: 8% 0;
}
.footer .description {
  color: white;
}

/* ===============================
		section1 : first-view
================================= */
.first-view .container .main-view {
  height: 100vh;
  position: relative;
}
.first-view .container .main-view .catch-copy {
  font-size: 7rem;
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 2;
}
.first-view .container .main-view .catch-copy > span {
  position: absolute;
  top: 35%;
  left: 30%;
}
.first-view .container .main-view .main-img1 {
  position: absolute;
  left: 52%;
  top: 15%;
  width: 45%;
}
.first-view .container .main-view .main-img2 {
  position: absolute;
  left: 24%;
  top: 72%;
  width: 25%;
}
.first-view .container .main-view .main-nav {
  position: absolute;
  left: 3%;
  bottom: 8%;
}
.first-view .container .main-view .main-nav .menu-list .list-item {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.first-view .container .main-view .main-nav .menu-list .list-item > a {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}
.first-view .my-name {
  width: 100vw;
  text-align: center;
  margin-top: 4%;
}
.first-view .my-name > span {
  position: relative;
  z-index: 3;
  font-size: 13vw;
  color: #eeeeee;
}

/* ===============================
		section2 what can i do
================================= */
.what-can-i-do .title {
  margin-bottom: 10%;
}
.what-can-i-do .flex-container .my-work-card {
  width: 30%;
}
.what-can-i-do .flex-container .my-work-card:nth-child(1) {
  margin-top: 0%;
}
.what-can-i-do .flex-container .my-work-card:nth-child(2) {
  margin-top: 3%;
}
.what-can-i-do .flex-container .my-work-card:nth-child(3) {
  margin-top: 6%;
}
.what-can-i-do .flex-container .my-work-card .img-card {
  position: relative;
}
.what-can-i-do .flex-container .my-work-card .img-card .work-img {
  width: 100%;
}
.what-can-i-do .flex-container .my-work-card .img-card .work-num {
  position: absolute;
  top: -15%;
  left: 5%;
  z-index: 3;
  font-size: 8rem;
}
.what-can-i-do .flex-container .my-work-card .work-title {
  font-family: serif;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2.8rem;
}
.what-can-i-do .flex-container .my-work-card .description {
  line-height: 1.8;
}
.what-can-i-do .strength {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}
.what-can-i-do .strength .s-title {
  font-size: 3.5rem;
}
.what-can-i-do .strength .s-description {
  margin-top: 3%;
  line-height: 1.8;
}

/* ===============================
		section3  My Creations
================================= */
.mb {
  margin-bottom: 10%;
}

.fd-reverse {
  flex-direction: row-reverse;
}

.my-creations .flex-container .left-box {
  width: 48%;
  align-items: center;
  position: relative;
}
.my-creations .flex-container .left-box::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 8%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #eeeeee;
}
.my-creations .flex-container .left-box .creation {
  width: 100%;
}
.my-creations .flex-container .right-box {
  width: 48%;
  position: relative;
}
.my-creations .flex-container .right-box .description-box {
  position: absolute;
  bottom: 0;
}
.my-creations .flex-container .right-box .description-box .sub-title {
  font-size: 2.8rem;
  margin-bottom: 6%;
}
.my-creations .flex-container .right-box .description-box .description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.my-creations .flex-container .right-box .description-box .creation-btn {
  margin-top: 4%;
}
.my-creations .flex-container.fd-reverse .left-box::after {
  left: -8%;
}
.my-creations .creation-btn {
  text-align: center;
}
.my-creations .creation-btn > button {
  padding: 10px 20px;
  font-size: 1.8rem;
}
.my-creations .creation-btn > button > a {
  text-decoration: none;
  color: #333;
}

/* ===============================
		section4  about me
================================= */
.about-me .position-container {
  position: relative;
}
.about-me .position-container .name-title {
  margin-top: 9%;
  font-size: 5.5rem;
}
.about-me .position-container .name-kanji {
  position: absolute;
  top: -24%;
  left: 3%;
  color: #cccccc;
  font-size: 14rem;
  z-index: -1;
}
.about-me .position-container .flex-container .left-box {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me .position-container .flex-container .left-box .my-pic {
  width: 35%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-me .position-container .flex-container .right-box {
  width: 70%;
  margin-top: 5%;
}
.about-me .position-container .flex-container .right-box > p {
  line-height: 1.8;
}

/* ===============================
		section5 inquiry flow
================================= */
.inquiry-flow .flow-title {
  text-align: center;
  margin-bottom: 4%;
  font-size: 3rem;
}
.inquiry-flow .flow-box {
  height: 300px;
  position: relative;
}
.inquiry-flow .flow-box .flow-card {
  height: 300px;
  width: 30%;
  -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%);
          clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%);
  position: absolute;
}
.inquiry-flow .flow-box .flow-card .wrapper {
  padding: 30px 20px 0 30px;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container {
  justify-content: flex-start;
  align-items: flex-end;
}
.inquiry-flow .flow-box .flow-card:first-child {
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #888;
  padding-left: 2%;
}
.inquiry-flow .flow-box .flow-card:nth-child(2) {
  top: 0;
  left: 24%;
  z-index: 8;
  background-color: #999;
  width: 31%;
}
.inquiry-flow .flow-box .flow-card:nth-child(2) .wrapper {
  margin-left: 17%;
  width: 66%;
}
.inquiry-flow .flow-box .flow-card:nth-child(3) {
  top: 0;
  left: 49%;
  z-index: 6;
  background-color: #aaa;
  width: 31%;
}
.inquiry-flow .flow-box .flow-card:nth-child(3) .wrapper {
  margin-left: 17%;
  width: 66%;
}
.inquiry-flow .flow-box .flow-card:nth-child(4) {
  top: 0;
  left: 74%;
  z-index: 4;
  background-color: #bbb;
  -webkit-clip-path: none;
          clip-path: none;
  width: 26%;
}
.inquiry-flow .flow-box .flow-card:nth-child(4) .wrapper {
  margin-left: 22%;
  width: 78%;
}
.inquiry-flow .flow-box .flow-card .wrapper {
  width: 80%;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container {
  margin-bottom: 12%;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container .flow-num {
  font-size: 6rem;
  margin-right: 15px;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container .card-title {
  font-size: 3rem;
}
.inquiry-flow .flow-btn {
  text-align: center;
  margin: 5% 0 8%;
}
.inquiry-flow .flow-btn button {
  padding: 20px 40px;
}
.inquiry-flow .flow-btn button a {
  text-decoration: none;
  color: #333;
}

/* =================================
		page  Get in Touch with Me
==================================== */
.get-in-touch-with-me {
  margin: 0 auto 5%;
}
.get-in-touch-with-me .title {
  margin-top: 5%;
  margin-bottom: 5%;
}
.get-in-touch-with-me .title::after {
  width: 70%;
}
.get-in-touch-with-me .title.left::after {
  left: 0;
  margin-left: 30%;
}
.get-in-touch-with-me .flex-container {
  justify-content: space-between;
}
.get-in-touch-with-me .flex-container .left-box {
  width: 48%;
}
.get-in-touch-with-me .flex-container .left-box .contact-img {
  width: 100%;
}
.get-in-touch-with-me .flex-container .right-box {
  width: 48%;
  position: relative;
}
.get-in-touch-with-me .flex-container .right-box .form .contact-heading {
  margin-bottom: 2%;
}
.get-in-touch-with-me .flex-container .right-box .form .contact-heading .contact-label .contact-span {
  background-color: #888;
  color: #fff;
  padding: 2px 5px;
  font-size: 1.2rem;
  margin-left: 15px;
}
.get-in-touch-with-me .flex-container .right-box .form .input-area {
  margin-bottom: 10%;
}
.get-in-touch-with-me .flex-container .right-box .form .input-area .contact-textbox {
  width: 100%;
  height: 50px;
}
.get-in-touch-with-me .flex-container .right-box .form .input-area .contact-textarea {
  width: 100%;
  height: 300px;
}
.get-in-touch-with-me .flex-container .right-box .form .contact-btn {
  position: absolute;
  bottom: 0;
  border: none;
  background-color: #888;
  color: #fff;
  padding: 10px 50px;
}

/* ===============================
		page archive
================================= *//*# sourceMappingURL=ex-style.css.map */