// 最初に作ったPCファーストの状態のCSS

@charset "UTF-8";

/* ===============================
		basic
================================= */
html {
  font-size: 0.65vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  color: #444;
  margin: 0 2%;
  font-family: serif;

  // & .all-background {
  //   background-color: lightblue;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -10;
  // }
}

/* ===============================
		一時テスト用
================================= */
.border {
  border: 1px solid red;
}


/* ===============================
		共通
================================= */
// コンテンツ幅の決定
.container {
  max-width: 1152px;
  margin: 0 auto;
}

// sectionのタイトル
.title {
  font-family: serif;
  font-size: 3rem;
  margin-top: 14%;
  margin-bottom: 6%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    width: 80%;
    height: 1px;
    background-color: #333;
  }

  &.left {
    &::after {
      left: 0;
      margin-left: 20%;
    }
  }

  &.right {
    text-align: right;

    &::after {
      right: 0;
      margin-right: 20%;
    }
  }
}

// flex 横並び
.flex-container {
  display: flex;
  justify-content: space-between;
}

// header
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

  & .logo-link {
    text-decoration: none;
    color: #333;

    & .site-title-group {
      text-align: center;

      & .site-title {
        font-size: 2.5rem;
      }
      & .sub-title {
        font-size: 1.2rem;
      }
    }
  }

  & .menu-btn {
    text-align: right;
  }
}

//footer
.footer {
  background-color: #333;
  text-align: center;
  padding: 8% 0;

  & .description {
    color: white;
  }
}

/* ===============================
		section1 : first-view
================================= */
// main-view
.first-view {
  & .container {
    & .main-view {
      height: 100vh;
      position: relative;

      & .catch-copy {
        font-size: 7rem;
        position: absolute;
        top: 30%;
        left: 25%;
        z-index: 2;

        & > span {
          position: absolute;
          top: 35%;
          left: 30%;
          
        }
      }

      & .main-img1 {
        position: absolute;
        left: 52%;
        top: 15%;
        width: 45%;
      }

      & .main-img2 {
        position: absolute;
        left: 24%;
        top: 72%;
        width: 25%;
      }

      & .main-nav {
        position: absolute;
        left: 3%;
        bottom: 8%;

        & .menu-list {
          & .list-item {
            font-size: 2.2rem;
            margin-bottom: 20px;

            & > a {
              color: #444;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  & .my-name {
    width: 100vw;
    text-align: center;
    margin-top: 4%;

    & > span {
      position: relative;
      z-index: 3;
      font-size: 13vw;
      color: #eeeeee;
    }
  }
}

/* ===============================
		section2 what can i do
================================= */
.what-can-i-do {
  & .title {
    margin-bottom: 10%;
  }

  & .flex-container {
    & .my-work-card {
      width: 30%;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          margin-top: $i * 3% - 3%;
        }
      }

      & .img-card {
        position: relative;

        & .work-img {
          width: 100%;
        }

        & .work-num {
          position: absolute;
          top: -15%;
          left: 5%;
          z-index: 3;
          font-size: 8rem;
        }
      }

      & .work-title {
        font-family: serif;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2.8rem;
      }

      & .description {
        line-height: 1.8;
      }
    }
  }

  & .strength {
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;

    & .s-title {
      font-size: 3.5rem;
    }

    & .s-description {
      margin-top: 3%;
      line-height: 1.8;
    }
  }
}

/* ===============================
		section3  My Creations
================================= */
.mb {
  margin-bottom: 10%;
}

.fd-reverse {
  flex-direction: row-reverse;
}

.my-creations {
  & .flex-container {
    .left-box {
      width: 48%;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 8%;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #eeeeee;
      }

      & .creation {
        width: 100%;
      }
    }

    .right-box {
      width: 48%;
      position: relative;

      & .description-box {
        position: absolute;
        bottom: 0;

        & .sub-title {
          font-size: 2.8rem;
          margin-bottom: 6%;
        }

        & .description {
          font-size: 1.8rem;
          line-height: 1.8;
        }

        & .creation-btn {
          margin-top: 4%;
        }
      }
    }
  }

  & .flex-container.fd-reverse {
    & .left-box {
      &::after {
        left: -8%;
      }
    }
  }

  & .creation-btn {
    text-align: center;

    & > button {
      padding: 10px 20px;
      font-size: 1.8rem;

      & > a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

/* ===============================
		section4  about me
================================= */
.about-me {
  & .position-container {
    position: relative;

    & .name-title {
      margin-top: 9%;
      font-size: 5.5rem;
    }

    & .name-kanji {
      position: absolute;
      top: -24%;
      left: 3%;
      color: #cccccc;
      font-size: 14rem;
      z-index: -1;
    }

    & .flex-container {
      & .left-box {
        width: 30%;
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & .my-pic {
          width: 35%;
          object-fit: contain;
        }
      }
      & .right-box {
        width: 70%;
        margin-top: 5%;

        & > p {
          line-height: 1.8;
        }
      }
    }
  }
}

/* ===============================
		section5 inquiry flow
================================= */
.inquiry-flow {
  & .flow-title {
    text-align: center;
    margin-bottom: 4%;
    font-size: 3rem;
  }

  & .flow-box {
    height: 300px;
    position: relative;

    & .flow-card {
      height: 300px;
      width: 30%;
      clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%);
      position: absolute;

      & .wrapper {
        padding: 30px 20px 0 30px;

        & .flex-container {
          justify-content: flex-start;
          align-items: flex-end;
        }
      }

      &:first-child {
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #888;
        padding-left: 2%;
      }

      &:nth-child(2) {
        top: 0;
        left: 24%;
        z-index: 8;
        background-color: #999;
        width: 31%;

        & .wrapper {
          margin-left: 17%;
          width: 66%;
        }
      }

      &:nth-child(3) {
        top: 0;
        left: 49%;
        z-index: 6;
        background-color: #aaa;
        width: 31%;

        & .wrapper {
          margin-left: 17%;
          width: 66%;
        }
      }

      &:nth-child(4) {
        top: 0;
        left: 74%;
        z-index: 4;
        background-color: #bbb;
        clip-path: none;
        width: 26%;

        & .wrapper {
          margin-left: 22%;
          width: 78%;
        }
      }

      & .wrapper {
        width: 80%;

        & .flex-container {
          margin-bottom: 12%;

          & .flow-num {
            font-size: 6rem;
            margin-right: 15px;
          }
          & .card-title {
            font-size: 3rem;
          }
          & .flow-description {
          }
        }
      }
    }
  }

  & .flow-btn {
    text-align: center;
    margin: 5% 0 8%;

    & button {
      padding: 20px 40px;

      & a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

/* =================================
		page  Get in Touch with Me
==================================== */
.get-in-touch-with-me {
  margin: 0 auto 5%;

  & .title {
    margin-top: 5%;
    margin-bottom: 5%;

    &::after {
      width: 70%;
    }

    &.left {
      &::after {
        left: 0;
        margin-left: 30%;
      }
    }
  }

  & .flex-container {
    justify-content: space-between;

    & .left-box {
      width: 48%;

      & .contact-img {
        width: 100%;
      }
    }

    & .right-box {
      width: 48%;
      position: relative;

      & .form {
        & .contact-heading {
          margin-bottom: 2%;

          & .contact-label {
            & .contact-span {
              background-color: #888;
              color: #fff;
              padding: 2px 5px;
              font-size: 1.2rem;
              margin-left: 15px;
            }
          }
        }

        & .input-area {
          margin-bottom: 10%;

          & .contact-textbox {
            width: 100%;
            height: 50px;
          }

          & .contact-textarea {
            width: 100%;
            height: 300px;
          }
        }

        & .contact-btn {
          position: absolute;
          bottom: 0;
          border: none;
          background-color: #888;
          color: #fff;
          padding: 10px 50px;
        }
      }
    }
  }
}

/* ===============================
		page archive
================================= */
