@charset "UTF-8";
/* ===============================
		basic
================================= */
html {
  font-size: 6vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: serif;
  padding: 0 2%;
}

/* ===============================
		一時テスト用
================================= */
.border {
  border: 1px solid red;
}

/* ===============================
		共通
================================= */
.container {
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: serif;
  font-size: 1.2rem;
  margin-top: 22%;
  margin-bottom: 6%;
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #333;
}
.title.left::after {
  left: 0;
  margin-left: 60%;
}
.title.right {
  text-align: right;
}
.title.right::after {
  right: 0;
  margin-right: 60%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.header .logo-link {
  text-decoration: none;
  color: #333;
}
.header .logo-link .site-title-group {
  text-align: center;
}
.header .logo-link .site-title-group .site-title {
  font-size: 1rem;
}
.header .logo-link .site-title-group .sub-title {
  font-size: 0.5rem;
}
.header .menu-btn {
  text-align: right;
}

.footer {
  background-color: #333;
  text-align: center;
  padding: 8% 0;
}
.footer .description {
  color: white;
  font-size: 0.7rem;
}

/* ===============================
		section1 first-view
================================= */
.first-view .container .main-view {
  height: 100vh;
  position: relative;
}
.first-view .container .main-view .catch-copy {
  font-size: 1.8rem;
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 2;
}
.first-view .container .main-view .main-img1 {
  position: absolute;
  left: 30%;
  top: 15%;
  width: 65%;
}
.first-view .container .main-view .main-img2 {
  position: absolute;
  left: 12%;
  top: 70%;
  width: 40%;
}
.first-view .container .main-view .main-nav {
  display: none;
}
.first-view .my-name {
  width: 100vw;
  text-align: center;
}
.first-view .my-name .pc {
  display: none;
}
.first-view .my-name .sp {
  position: relative;
  z-index: 3;
  font-size: 28vw;
  color: #eeeeee;
}

/* ===============================
		section2  what can i do?
================================= */
.what-can-i-do .title {
  margin-bottom: 20%;
}
.what-can-i-do .flex-container {
  flex-direction: column;
}
.what-can-i-do .flex-container .my-work-card {
  width: 100%;
  margin-bottom: 20%;
}
.what-can-i-do .flex-container .my-work-card .img-card {
  position: relative;
}
.what-can-i-do .flex-container .my-work-card .img-card .work-img {
  width: 100%;
}
.what-can-i-do .flex-container .my-work-card .img-card .work-num {
  position: absolute;
  top: -15%;
  left: 5%;
  z-index: 3;
  font-size: 3.6rem;
}
.what-can-i-do .flex-container .my-work-card .work-title {
  font-family: serif;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 0.9rem;
}
.what-can-i-do .flex-container .my-work-card .description {
  line-height: 1.6;
  font-size: 0.7rem;
}
.what-can-i-do .strength {
  width: 100%;
  margin-top: 5%;
}
.what-can-i-do .strength .s-title {
  font-size: 1.5rem;
}
.what-can-i-do .strength .s-description {
  margin-top: 3%;
  line-height: 1.6;
  font-size: 0.65rem;
}

/* ===============================
		section3 My Creations
================================= */
.mb {
  margin-bottom: 20%;
}

.my-creations .flex-container {
  flex-direction: column;
}
.my-creations .flex-container .left-box {
  width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: 10%;
}
.my-creations .flex-container .left-box::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 8%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #eeeeee;
}
.my-creations .flex-container .left-box .creation {
  width: 100%;
}
.my-creations .flex-container .right-box {
  width: 100%;
}
.my-creations .flex-container .right-box .description-box .sub-title {
  font-size: 1rem;
  margin-bottom: 6%;
}
.my-creations .flex-container .right-box .description-box .description {
  font-size: 0.65rem;
  line-height: 1.6;
}
.my-creations .flex-container .right-box .description-box .creation-btn {
  text-align: center;
}
.my-creations .flex-container .right-box .description-box .creation-btn button {
  margin-top: 4%;
  font-size: 0.5rem;
  padding: 10px 20px;
}
.my-creations .flex-container .right-box .description-box .creation-btn button > a {
  text-decoration: none;
  color: #333;
}
.my-creations .creation-more-btn {
  text-align: center;
}
.my-creations .creation-more-btn button {
  padding: 10px 20px;
}
.my-creations .creation-more-btn button a {
  text-decoration: none;
  font-size: 0.7rem;
  color: #333;
}

/* ===============================
		section4 about me
================================= */
.about-me .position-container {
  position: relative;
}
.about-me .position-container .name-title {
  margin-top: 20%;
  font-size: 1.6rem;
}
.about-me .position-container .name-kanji {
  position: absolute;
  top: -11%;
  left: 3%;
  color: #cccccc;
  font-size: 3.5rem;
  z-index: -1;
}
.about-me .position-container .flex-container {
  flex-direction: column;
}
.about-me .position-container .flex-container .left-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 10%;
}
.about-me .position-container .flex-container .left-box .my-pic {
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-me .position-container .flex-container .right-box {
  width: 100%;
  margin-top: 5%;
}
.about-me .position-container .flex-container .right-box > p {
  font-size: 0.7rem;
  line-height: 1.6;
}

/* ===============================
		section5 inquiry flow
================================= */
.inquiry-flow .flow-title {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 12%;
  font-size: 1rem;
}
.inquiry-flow .flow-box {
  height: 1080px;
  position: relative;
}
.inquiry-flow .flow-box .flow-card {
  height: 280px;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
          clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
  position: absolute;
}
.inquiry-flow .flow-box .flow-card .wrapper {
  width: 100%;
  padding: 30px 20px 0;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container {
  justify-content: flex-start;
  align-items: flex-end;
}
.inquiry-flow .flow-box .flow-card:first-child {
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #888;
}
.inquiry-flow .flow-box .flow-card:nth-child(2) {
  top: 224px;
  left: 0;
  z-index: 8;
  height: 320px;
  width: 100%;
  background-color: #999;
}
.inquiry-flow .flow-box .flow-card:nth-child(2) .wrapper {
  margin-top: 7%;
  width: 100%;
}
.inquiry-flow .flow-box .flow-card:nth-child(3) {
  top: 480px;
  left: 0;
  z-index: 6;
  background-color: #aaa;
  width: 100%;
  height: 320px;
}
.inquiry-flow .flow-box .flow-card:nth-child(3) .wrapper {
  margin-top: 12%;
  width: 100%;
}
.inquiry-flow .flow-box .flow-card:nth-child(4) {
  top: 736px;
  left: 0;
  z-index: 4;
  background-color: #bbb;
  -webkit-clip-path: none;
          clip-path: none;
  width: 100%;
  height: 320px;
}
.inquiry-flow .flow-box .flow-card:nth-child(4) .wrapper {
  margin-top: 14%;
  width: 100%;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container {
  margin-bottom: 12%;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container .flow-num {
  font-size: 1.2rem;
  margin-right: 15px;
}
.inquiry-flow .flow-box .flow-card .wrapper .flex-container .card-title {
  font-size: 1rem;
}
.inquiry-flow .flow-box .flow-card .wrapper .flow-description {
  font-size: 0.8rem;
}
.inquiry-flow .flow-btn {
  text-align: center;
  margin: 5% 0 8%;
}
.inquiry-flow .flow-btn button {
  padding: 20px 40px;
}
.inquiry-flow .flow-btn button a {
  text-decoration: none;
  color: #333;
}/*# sourceMappingURL=style.css.map */